---
import { formatDate } from "@/utils";

export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="rounded-lg border hover:border-blue-500 p-4">
	<header>
		<a class="before:absolute hover:no-underline" href={post.url}>
			<h1 class="font-bold text-xl">{post.frontmatter.title}</h1>
		</a>
	</header>
	<p class="italic">{post.frontmatter.excerpt}</p>
	<p class="text-end">{formatDate(post.frontmatter.publishDate)}</p>
</article>
