---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="rounded-xl border hover:border-blue-500">
	<header>
		<a class="before:absolute hover:no-underline" href={post.url}>
			<h1 class="title">{post.frontmatter.title}</h1>
		</a>
	</header>
	<p>{post.frontmatter.excerpt}</p>
	<p class="publish-date">{post.frontmatter.publishDate}</p>
</article>
